.section {
  header {
    text-align: center;
    margin-bottom: 48px;
  }

  :global(.row) {
    column-gap: 96px;
  }
}

.ethicalManual {
  p {
    margin-bottom: 24px;
    color: var(--accent--primary-1);
  }
}

.ethicalValues {
  width: calc(100% + 24px);
}