/* @use "../../../../styles/scss/mixins"; */

.section {
  position: relative;
  background-color: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div:first-child :global(.row) {
    width: calc(100vw + 24px);
  }

  /* @include mixins.lg {
    flex-direction: column;
    gap: 80px;
    
    img {
      border-radius: 8px;
    }
  } */

  img {
    height: auto !important;

    /* @include mixins.md {
      height: 640px;
    } */
  }

  :global(.container) {
    position: absolute;

    /* @include mixins.lg {
      position: relative;
    } */
  }
}

.first,
.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.last {
  max-width: 450px;
  padding: 0 24px;
  
  p:first-of-type {
    color: #235cf2;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 24px;
  }

  h2 {
    font-size: 44px;
    margin-bottom: 24px;
    color: #000B28;
  }

  p:last-of-type {
    color: #757575;
  }
}
