.section {
  position: relative;
  display: flex;
  height: 600px;
  justify-content: center;
  align-items: center;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background: #070707;
  }

  img {
    z-index: -1;
  }

  .textContent {
    text-align: center;
    header {
      margin-bottom: 40px;
      h2 {
        color: white;
      }

      p {
        color: white;
      }
    }
  }
}
