.section {
  position: relative;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 124px 0;

  img {
    z-index: -1;
  }

  h2 {
    position: relative;
    z-index: 1;
    font-size: 40px;
    color: white;
  }
}
