.section {
  width: 100%;
  outline: 1px solid red;
  height: 720px;
  overflow: hidden;
  position: relative;

  iframe {
    pointer-events: none;
    border: 0;
    width: 280%;
    height: 110%;
    position: relative;
    left: -90%;
    top: -10%;
    overflow: hidden;
    outline: 1px solid blue;
  }
}
