@use "src/styles/scss/mixins";

.section {
  /* & > div {
    &:nth-child(odd) {
      background-color: var(--neutral--200);
    }
    &:nth-child(even) {
      background-color: white;
    }
  } */

  @include mixins.lg {
    display: flex;
    flex-direction: column;
    gap: 80px;
  }
}

.textContent {
  /* max-width: 500px; */

  h2 {
    margin-bottom: 24px;
  }

  & > p {
    margin-bottom: 24px;
  }
}
