.section {
}

.details {
  margin-bottom: 96px;

  :global(.container) {
    &:last-child {
      position: relative;
    }
  }
}

.highlights {
  :global(.row) {
    background-color: rgb(0, 108, 204, 0.05);
  }

  article {
    text-align: center;
    padding: 48px 0;

    & > svg {
      margin-bottom: 24px;
    }

    h2 {
      color: var(--accent--primary-1);
      margin: auto;
      margin-bottom: 16px;
      font-weight: 600;
      max-width: 70%;
    }

    p {
      color: var(--secondary--color-1);
      height: 3lh;
      overflow: hidden;
    }

    a {
      margin-top: 24px;
      svg {
        transform: rotate(90deg);
      }

      &::before {
        content: 'Ler Mais';
      }
    }

    &.active {
      a {
        &::before {
          content: 'Ler Menos';
        }

        svg {
          transform: rotate(-90deg);
        }
      }
      p {
        height: auto;
      }
    }
  }

  :global(.col-12:nth-child(1)) article {
    padding-left: 48px;
  }
  :global(.col-12:nth-child(2)) article {
    padding-left: 32px;
    padding-right: 32px;
  }
  :global(.col-12:nth-child(3)) article {
    padding-right: 48px;
  }
}
