* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  overflow-x: hidden;
  font-family: Onest, sans-serif !important;
}

img {
  vertical-align: middle;
  pointer-events: none;
  object-fit: cover;
}

a {
  color: inherit;
  text-decoration: none;
}
