// @use 'scss/colors';
@use "scss/mixins";
@use "scss/typography";

:root {
  &.no-scroll {
    overflow: hidden;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
html {
  overflow-x: clip;
  margin: 0;
  padding: 0;
}

section {
  scroll-margin-top: 120px;
}

#viewport {
  height: 100vh;
  transition: all 560ms;

  &.success {
    height: auto;
  }

  @include mixins.lg {
    &.active {
      transform: translateY(100%);
    }
  }
}

#content {
  &.success {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    @include mixins.lg {
      justify-content: flex-start;
    }
  }
}

figure,
blockquote {
  margin: 0;
}

address {
  font-style: normal;
}

img,
svg {
  vertical-align: middle;
}

img,
video {
  object-fit: cover;
  object-position: center;
}

video {
  /* pointer-events: none; */
}

ul,
ol,
dl,
menu,
summary {
  padding: 0;
  margin: 0;
  list-style: none;
}

dialog {
  padding: 0;
  border: 0;
  outline: 0;
}

dialog.fullscreen {
  max-width: none;
  max-height: none;
  height: 100vh;
  width: 100vw;
  margin: 0;
  border: 0;
  padding: 0;
  background-color: transparent;
}

[data-reveal] {
  visibility: hidden;
}

[data-reveal-parent] {
  & > * {
    visibility: hidden;
  }
}

details {
  cursor: pointer;
}

summary {
  user-select: none;
}

// --- Links --- //

a:not(.wrapper) {
  display: inline-flex;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 350ms;
  position: relative;
  font-weight: 500;

  span {
    transition: transform 350ms;
    display: inline-block;
    position: relative;
  }

  &:hover {
    .arrow-shaft {
      animation: draw-tip 400ms both;
    }
    .arrow-tip {
      animation: draw-tip 400ms 400ms both;
    }
  }

  &:not(.btn-primary, .btn-secondary, .wrapper) {
    span {
      &::after {
        content: "";
        background-color: var(--accent--primary-1);
        display: inline-block;
        position: absolute;
        bottom: -6.5px;
        left: 0;
        width: 100%;
        height: 2px;
        transition: transform 500ms;
        transform: scaleX(0);
        transform-origin: left;
      }
    }

    &:hover {
      span {
        &::after {
          transform: scaleX(1);
        }
      }
    }
  }

  /* &:not(:has(span)) {
    color: rgb(var(--borboleta));

    &:hover {
      color: rgb(var(--casca));
    }
  } */
}

a.wrapper {
  display: flex;
  position: relative;
  text-decoration: none;
}

a:not(.wrapper),
.btn {
  & > div {
    display: flex;
    align-items: center;
    gap: 16px;
    transition: transform 350ms;
  }

  &.gap-sm {
    gap: 12px;
  }
}

@include mixins.lg {
  [class*="col-lg"] {
    & > div {
      text-align: center;
      align-items: center;
    }
  }
}

@include mixins.sm {
  .col-12 {
    padding: 0 24px;
    text-align: center;
  }
}
