/* @use "../../../../styles/scss/mixins"; */

.section {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  & > div:first-child :global(.row) {
    width: calc(100vw + 24px);
  }

  &.contained {
    & > div:first-child :global(.row) {
      width: auto;
    }

    :global(.container) {
      &:last-child {
        height: 100%;
        div {
          height: 100%;
        }
      }
    }

    &:first-of-type {
      .last {
        justify-content: flex-start;
        & > div {
          justify-content: flex-start;
        }
      }
    }
    &:last-of-type {
      .last {
        justify-content: flex-end;
        & > div {
          justify-content: flex-end;
        }
      }
    }
  }
  /* @include mixins.lg {
    flex-direction: column;
    gap: 80px;
    
    img {
      border-radius: 8px;
    }
  } */

  img {
    width: 100%;

    /* @include mixins.md {
      height: 640px;
    } */
  }

  :global(.container) {
    position: absolute;

    /* @include mixins.lg {
      position: relative;
    } */
  }
}

.first,
.last {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.last {
  // max-width: 450px;
  padding: 0 24px;
}
