@use "src/styles/scss/mixins";

.section {
  :global(.slick-list) {
    overflow: visible;
  }

  :global(.row):last-of-type {
    margin-top: 48px;
    padding-top: 48px;
    border-top: 1px solid var(--neutral--400);
  }

  :global(.slick-track) {
    & > div {
      margin: 0 12px;

      @include mixins.lg {
        margin: 0;
      }
    }
  }
}
