@use "src/styles/scss/mixins";

.section {
  display: flex;
  flex-direction: column;
  overflow: hidden;

  & > a {
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
  }

  :global(.slick-list) {
    overflow: visible;
    height: 400px;
  }
  :global(.slick-track) {
    cursor: pointer;
    height: 400px;
  }
  :global(.slick-slider) {
    height: 400px;
  }

  :global(.row:nth-child(2)) {
    margin-top: 48px;
    padding-top: 48px;
    border-top: 1px solid var(--neutral--400);
  }

  :global(.slick-track) {
    & > div {
      margin: 0 12px;

      @include mixins.lg {
        margin: 0;
      }
    }
  }
}

.controls {
  display: flex;
  gap: 8px;

  & > a {
    &:first-child {
      path {
        transform-origin: center;
        transform-box: view-box;
        transform: rotateY(180deg);
        fill: var(--secondary--color-1);
      }
      &:hover {
        path {
          fill: white;
        }
      }
    }

    &:last-child {
      path {
        fill: white;
      }
      &:hover {
        path {
          fill: var(--secondary--color-1);
        }
      }
    }
  }

  @include mixins.lg {
    display: none;
  }
}
