@use "src/styles/scss/mixins";

.section {
  position: relative;

  :global(.first) {
    overflow: hidden;
  }

  h2 {
    &::after {
      content: none;
    }
  }

  .imgWrapper {
    position: relative;
    width: 100%;
    height: 800px;
    scroll-margin: 200px;

    & > img {
      cursor: pointer;
      position: relative;
      z-index: 1;
      transition: 350ms ease;
      height: 100% !important;

      &:hover {
        transform: scale(1.08);
      }
    }

    @include mixins.lg {
      height: 360px;
    }
  }
}
