@use "src/styles/scss/mixins";

.section {
  margin-top: 120px;

  & > div {
    background-color: var(--secondary--color-1);
  }

  img {
    height: auto;
  }

  :global(.container) {
    height: 100%;
  }
}

.textContent {
  padding: 80px 0;

  h2 {
    color: white;
    margin-bottom: 24px;
  }
  p {
    color: var(--neutral--300);
  }

  @include mixins.lg {
    padding-left: 0;
    padding-top: 0;
  }
}
