@use "src/styles/scss/mixins";

.section {
  position: relative;
  padding-bottom: 120px;
  padding-top: 192px;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    background-image: linear-gradient(180deg, rgba(7, 7, 7, 0) 0%, rgb(7, 7, 7, 0.6) 100%);
    background-color: rgb(7, 7, 7, 0.6);
  }

  & > img {
    z-index: -1;
  }

  h1 {
    color: white;
    margin-bottom: 40px;
  }

  p {
    color: var(--neutral--300);
  }

  @include mixins.lg {
    padding-top: 120px;
  }
}

.image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  @include mixins.lg {
    margin-top: 40px;
  }
}
