@use "src/styles/scss/mixins";

.section {
  position: relative;
}

.collage {
  position: relative;

  img {
    width: 100%;
  }
}

.textContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  h2 {
    margin-bottom: 24px;
  }
}