@use "src/styles/scss/mixins";

.footer {
}

.links {
  background-color: #00203d;

  h2 {
    text-transform: uppercase;
    color: white;
    font-weight: 600;
  }

  .cta {
    h2 {
      margin-bottom: 40px;
    }

    p {
      color: var(--neutral--300);
      padding-bottom: 32px;
      margin-bottom: 40px;
      border-bottom: 1px solid #003666;
    }
  }

  .contactButton {
    display: flex;
    gap: 16px;
    align-items: center;
    transition: 350ms ease;
    cursor: pointer;

    &:first-of-type {
      margin-bottom: 32px;
    }

    & > div {
      &:first-of-type {
        //Form
        background-color: var(--accent--primary-1);
        color: var(--neutral--300);
        width: 64px;
        height: 64px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-shrink: 0;
        border-radius: 32px;
        transition: 350ms ease;
      }

      &:last-of-type {
        // Phone
        span {
          display: block;
          color: var(--neutral--300);
        }

        a {
          text-transform: none;
        }
      }
    }

    @include mixins.lg {
      justify-content: flex-start;

      & > div {
        text-align: left;
      }
    }

    &:hover {
      transform: scale3d(0.98, 0.98, 1.001);

      & > div {
        &:first-of-type {
          background-color: var(--secondary--color-1);
        }
      }
    }
  }
}

.cta,
.getInTouch,
.usefulLinks {
  padding-top: 96px;
  padding-bottom: 64px;

  @include mixins.lg {
    padding: 48px 0;
  }
}

.divider {
  position: relative;
  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100vw;
    top: 0;
    left: 0;
    background-color: #00294d;
    z-index: 0;
  }
}

.getInTouch,
.usefulLinks {
  position: relative;
  h2 {
    margin-bottom: 40px;
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 32px;

    a {
      color: white;
      text-transform: none;
    }
  }

  @include mixins.lg {
    ul {
      gap: 16px;
    }
  }
}

.getInTouch {
  ul {
    margin-bottom: 40px;
    a {
      gap: 12px;
    }
  }

  & > p {
    color: var(--neutral--300);
    max-width: 90%;
  }

  @include mixins.lg {
    & > p {
      max-width: none;
    }
  }
}

.usefulLinks {
  ul {
    margin-bottom: 32px;
  }

  & > a {
    color: white;
    text-transform: none;
    display: inline;
    font-weight: 600;

    span {
      display: inline;
      white-space: break-spaces;
      @include mixins.sm {
        white-space: normal;
      }
    }

    svg {
      display: inline-block;
      margin-left: 8px;
    }
  }
}

.copyright {
  background-color: #001b33;
}

.copyInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 96px;
  flex-wrap: wrap;

  & > p {
    color: white;
    font-size: 14px;
    line-height: 21px;
    span {
      color: var(--accent--primary-1);
    }
  }

  & > a {
    &:first-child {
      text-transform: none;
      font-size: 14px;
      line-height: 21px;
      &:hover {
        color: white;
      }
    }
  }

  @include mixins.lg {
    padding: 32px 0;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    gap: 24px;
  }
}
