:root {
  /* Color styles */
  --blue-white: 219, 228, 240;
  --blue-sky: 0, 167, 229;
  --blue-sea: 10, 87, 194;
  --blue-dark: 10, 23, 41;
  --warning: 245, 214, 123;

  --white: 255, 255, 255;
  --success: 10, 194, 133;
  --error: 255, 102, 115;
}
