:root {
  //--blue-white: 219, 228, 240;
  //--blue-sky: 0, 167, 229;
  --blue-sea-hsl: 208, 100%, 40%;
  --blue-dark-hsl: 209, 100%, 9%;
  --blue-dark-hsl-flex: 209, 100%;

  --white: 255, 255, 255;
  --warning: 245, 214, 123;
  --success: 10, 194, 133;
  --error: 255, 102, 115;
}
